.orderTitle {
  height:40px;
  line-height: 40px;
  padding-top:20px;
  border-bottom:2px solid #979797;
  text-align: center;
  font-size: 18px;
}

.orderNumber {
  float:right;
  font-size: 14px;
  color: #9b9b9b;
}
