.editCell,
.editCellUnderLine{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.editCellUnderLine{
  border-bottom: 2px solid red;
}

.textClass {
  flex:1;
  margin-right: 10px;
}
.iconClass{

}
