.productForm {

  width:50%;
  margin-top:40px;
}

.buttonGroup{
  position: absolute;
  bottom:-62px;
  left:0;
  width:100%;
}

.buttonGroup Button {
  width:200px;
}

.buttonGroup Button:first-child{
  margin-right:20px;
}
