.customerForm {
  display: flex;
  flex-direction: row;
}
.formClass {
  width:50%;
  padding:40px 15px 0 15px;
  background: #fff;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  padding:15px 0;
}
.buttonGroup :first-child {
  margin-right: 20px;
}
.buttonGroup Button {
  width:200px;
}
