.homePage {
  display: flex;
  flex-direction: row;
  height:100%;
  padding-top:64px;
  background-color:#ececec;
}

.container {
  position: relative;
  box-sizing: border-box;
  width:100%;
  margin-left: 300px;
  padding:25px;
  border:1px solid red;
}
